<configuration> 
    <system.webServer> 
        <defaultDocument enabled="true"> 
            <files> 
                <add value="404.html" /> 
            </files> 
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/polymac/404.html" responseMode="ExecuteURL" />
        </httpErrors> 
    </system.webServer>
</configuration> 